@model Genzeon.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Login.css" rel="stylesheet" />

<body style="overflow-y:hidden;padding-top:50px">
    <div>
        <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
                <div class="top-content-style">
                    <h4>Enter your email.</h4>
                    @*<img src="~/Content/Images/logo.png" />*@
                </div>
                <section id="loginForm">
                    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                       
                    <div class="input">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@placeholder = "Enter your Work Mail", @required = "required"})
                        <span class="fa fa-envelope-open"></span>
                    </div>
                        
                            <button type="submit" class="btn submit">
                                <span class="fa fa-sign-in"></span>
                            </button>
                        <p>
                         I remembered password @Html.ActionLink("Login", "Login")
                        </p>
                        
                    }
                </section>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
