@using Genzeon.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Login.css" rel="stylesheet" />

<body style="overflow-y:hidden;padding-top:50px">
    <div>
        <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
                <div class="top-content-style">
                    <img src="~/Content/Images/logo.png" />
                </div>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="input">
                            @Html.TextBoxFor(m => m.Email, new { @Placeholder = "Email" ,@required="required"})
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="input">
                            @Html.PasswordFor(m => m.Password, new { @Placeholder = "Password", @required = "required" })
                            <span class="fa fa-unlock"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                            <button type="submit" class="btn submit">
                                <span class="fa fa-sign-in"></span>
                            </button>
                        </div>
                        //Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                        @*<p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>*@

                    }
                </section>
            </div>
        </div>
    </div>
</body>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

